.cv-selection{
    margin: auto;
    width:75%;
    height:60%;
    background-color: rgb(255,255,255);
    border-radius:10px;
    display: flex;
}
.cv-selection-sidebar{
    display:flex;
    flex-direction: column;
    width:fit-content;
    border-right: 1px solid rgba(56, 56, 56, 0.2);
}
.cv-selection-sidebar div{
    width: 100px;
}
.cv-selections-cvs{
    display:flex;
    padding: 10px 10px 10px;
}
.cv-selection-item{
    width:10%;
    margin-left: 2rem;
}
.cv-selection-item img{
    width:100%;
    border: solid; 
    border-color: grey; 
    border-radius: 4px;
}
