.White_section {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 60px;
}
.form-window{
    margin: 20px;
}

.input-styles {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    flex-wrap: nowrap;
    cursor: pointer;
}

.choose-pic {
    display: flex;
    flex: wrap;
    
}