html{
    background-image: url(./images/background.jpg);
    
}


.main{
    min-height: 100%;
    min-width: 100%;
}

.bilde{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.block{

}

.input-styles{
    margin: 10px;
}
html, body {
    min-height: 100%;
}
body{
    background-color: rgb(255, 255, 255);
    margin:0px;
    padding: 0px;

}

.cv-selection{
    margin: auto;
    margin-top: 30px;
    width:90%;
    border-radius:25px;
    box-shadow: -12px -12px 2px 1px rgba(56, 56, 56, 0.2);;
    display: flex;
}
.cv-selection-options{
    display:flex;
    flex-direction: column;
    width:fit-content;
    border-right: 1px solid rgba(56, 56, 56, 0.2);
}
.cv-selection-options div{
    width: 100px;
}
.cv-selections-cvs{
    display:flex;
    padding: 10px 10px 10px 10px;
}
.cv-selection-item{
    width:100px;
    margin-left: 2rem;
    
}
.cv-selection-item img{
    width:100px;
    border: solid; 
    border-color: grey; 
    border-radius: 4px;
}
