html{
    font-size:100%;
}

.centrs{
    font-family: Merriweather, Georgia, serif;
    font-weight: 700;
    letter-spacing: 0;
    font-size: calc(65px * 0.9);
    text-align: center;
    padding-top: 300px;
}

.url{
    padding-right: 900px;
    padding-top: 50px;
    font-size: calc(55px * 0.9);
    width: 300px;


}
.input-styles{
    margin: 10px;
}

body{
    background-color: rgb(255, 255, 255);
}

.cv-selection{
    width:0.75rem;
    height:1rem;
    border-radius:25px;
    box-shadow: 12px 12px 2px 1px rgba(167, 167, 167, 0.2);;
}
.cv-selection-options{
    display:flex;
}
.cv-selections-cvs{
    display:flex;
    flex-direction: column;
}
