
.main{
    min-height: 100%;
    min-width: 100%;
}

.bilde{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.input-styles{
    margin: 10px;
}
html {
    height:100%;
}
body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    height: 100%;
    min-height: 100%;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333
}

.cv-selection{
    margin: auto;
    margin-top: 30px;
    width:90%;
    border-radius:25px;
    box-shadow: -12px -12px 2px 1px rgba(56, 56, 56, 0.2);;
    display: flex;
}
.cv-selection-options{
    display:flex;
    flex-direction: column;
    width:fit-content;
    border-right: 1px solid rgba(56, 56, 56, 0.2);
}
.cv-selection-options div{
    width: 100px;
}
.cv-selections-cvs{
    display:flex;
    padding: 10px 10px 10px 10px;
}
.cv-selection-item{
    width:100px;
    margin-left: 2rem;
    
}
.cv-selection-item img{
    width:100px;
    border: solid; 
    border-color: grey; 
    border-radius: 4px;
}

*,
*::before
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(./images/back.jpg) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;

}

.intro_title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

}

.intro_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto 60px;

    background-color: #fff;
}

.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.logo {
    width: 64px;
    height: 64px;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;


    transition: color 0.1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #0018A8;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}

.nav_link:hover {
    color: 	#0018A8
    
}

.nav_link:hover:after {
    opacity: 1;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.1s
    linear, color 0.1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.section_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;

    background-color: #333;
}

.section_text {
    color: #999;
    font-size: 15px;
}