.centrs{
    font-family: Merriweather, Georgia, serif;
    font-weight: 700;
    letter-spacing: 0;
    font-size: calc(65px * 0.9);
    text-align: center;
    padding-top: 300px;
}

.url{
    padding-right: 900px;
    padding-top: 50px;
    font-size: calc(55px * 0.9);
    width: 300px;


}

body{
    background-color: rgb(255, 255, 255);
}
